@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Open+Sans:wght@300&display=swap');

:root {
    --header-height: 100px;
    --settings-width: 400px;
    --settings-padding: 32px;
    --settings-total: calc(var(--settings-width) + 2*var(--settings-padding));
}

body {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: #333333;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--header-height);
    background: #485650;
    box-shadow: 0px 0.5px 8px #222222;
}

.modes {
    width: var(--settings-width);
    padding: var(--settings-padding);
    font-size: 0;
    text-align: center;
}

.modes button {
    height: 100%;
    width: 50%;
    margin: 0;
    border: 0;
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.modes button:hover {
    opacity: 1;
}

.modes button:first-child {
    border-radius: 4px 0 0 4px;
}

.modes button:not(:last-child) {
    border-right: 0.5px solid #696969;
}

.modes button:last-child {
    border-radius: 0 4px 4px 0;
}

.title-container {
    width: calc(100% - var(--settings-total));
    line-height: 100px;
    text-align: center;
}

#graphboy {
    vertical-align: middle;
    padding-left: 10px;
    height: 90px;
    filter: invert(1);
}

.title {
    display: inline;
    vertical-align: middle;
    font-family: 'Comfortaa', cursive;
    color: #FFFFFF;
    font-size: 72px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100% - var(--header-height));
}

#settings {
    display: flex;
    flex-direction: column;
    width: var(--settings-width);
    padding: var(--settings-padding);
    box-shadow: 0.5px 0px 8px #222222;
    overflow-y: auto;
}

#settings .input {
    padding-bottom: 48px;
    width: 100%;
    box-sizing: border-box;
}

#settings::-webkit-scrollbar {
    border-radius: 10px;
    width: 8px;
}

#settings::-webkit-scrollbar-thumb {
    background-color: #696969;
    border-radius: 10px;
}

#settings::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

label {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

input {
    outline: none;
}

.textbox {
    margin-left: 5px;
    font-size: 24px;
    width: 42px;
    text-align: right;
    padding: 4px;
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 0 2px #000000;
}

.textbox::selection {
    background: #222222;
    color: #FFFFFF;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 18px;
    width: 100%;
    height: 8px;
    background: #696969;
    border-radius: 4px;
    box-shadow: 0 0 8px #222222;
    opacity: 0.8;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #448269;
    border-radius: 12.5px;
    cursor: pointer;
}

.checkbox {
    -webkit-appearance: none;
    appearance: none;
    background: #FFFFFF;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 12px;
    opacity: 1;
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 0 2px #000000;
    transition: opacity 0.2s;
    text-align: center;
    vertical-align: middle;
}

.checkbox:hover {
    opacity: 0.8;
}

.checkbox:checked {
    background: #448269;
}

.checkbox:checked:after {
    content: '\2714';
    font-size: 18px;
    color: #FFFFFF;
}

.checkbox-label {
    vertical-align: middle;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.checkbox:checked ~ .checkbox-label {
    opacity: 1;
}

.select {
    margin-left: 5px;
    margin-bottom: 12px;
    padding: 2px;
    font-size: 24px;
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 0 2px #000000;
    outline: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s;
}

.select:hover {
    opacity: 0.9;
}

.button {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    cursor: pointer;
    border: 0;
    border-radius: 6px;
    box-shadow: inset 0 0 2px #000000;
    opacity: 0.9;
    transition: opacity 0.2s;
}

.button:hover {
    opacity: 1;
}

#graph-container {
    width: calc(100% - var(--settings-total) - 40px);
    padding: 20px;
    background: #FFFFFF;
    z-index: -1;
}

#graph {
    width: 100%;
    height: 100%;
    display: block;
}

@media (max-aspect-ratio: 1/1) {
    .header {
        flex-direction: column-reverse;
        height: auto;
    }

    .title-container, .modes {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        padding-top: 0;
        padding-bottom: 20px;
    }

    .content {
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
    }

    #settings, #graph-container {
        width: 100%;
        box-sizing: border-box;
    }

    #settings .input {
        padding-left: 20px;
    }

    #graph-container {
        max-height: 800px;
    }
}

@page {
    margin: 0;
    margin-top: 0.165in;
    margin-bottom: 0.165in;
}

@media print {
    body {
        visibility: hidden;
    }

    #settings {
        display: none;
    }

    #graph {
        visibility: visible;
        position: fixed;
        top: 0;
        left: 0;
    }

    .graph1x1 {
        margin-left: 0.5in;
        margin-right: 0.5in;
        width: calc(100% - 1in) !important;
    }
}